<h2>Reportes</h2>

<ul>
    <li><a href="/Reporte/ReporteAsistencia">Reporte de Asistencia</a></li>
    <li><a href="/Reporte/ReporteFaltas">Reporte de Faltas</a></li>
</ul>

<a href="/">Volver al inicio</a>
