@model ControlAsistencia.Models.Credencial

@{
    ViewBag.Title = "Editar Credencial";
}

<h2>Editar Credencial</h2>

<form asp-action="Editar" method="post">
    <!-- Campo oculto para el IdCredencial -->
    <input type="hidden" asp-for="IdCredencial" />

    <!-- Campo para editar el nombre de usuario -->
    <div class="form-group">
        <label asp-for="NombreUsuario" class="control-label"></label>
        <input asp-for="NombreUsuario" class="form-control" />
        <span asp-validation-for="NombreUsuario" class="text-danger"></span>
    </div>

    <!-- Campo para cambiar la contraseña (opcional) -->
    <div class="form-group">
        <label asp-for="Contrasena" class="control-label"></label>
        <input asp-for="Contrasena" class="form-control" type="password" placeholder="Ingrese la nueva contraseña o deje este campo vacío para mantener la actual" />
        <span asp-validation-for="Contrasena" class="text-danger"></span>
    </div>

    <!-- Campo oculto para el IdUsuario y el IdRol para que no se pierdan los datos -->
    <input type="hidden" asp-for="IdUsuario" />
    <input type="hidden" asp-for="IdRol" />

    <!-- Botón de guardar -->
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
