@model ControlAsistencia.Models.Credencial

<h2>Eliminar Credencial</h2>

<div>
    <h4>¿Estás seguro que quieres eliminar esta credencial?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Usuario</dt>
        <dd class="col-sm-10">@Model.Usuario.Nombre</dd>

        <dt class="col-sm-2">Nombre de Usuario</dt>
        <dd class="col-sm-10">@Model.NombreUsuario</dd>

        <dt class="col-sm-2">Rol</dt>
        <dd class="col-sm-10">@Model.Rol.NombreRol</dd>
    </dl>

    <form asp-action="Eliminar">
        <input type="hidden" asp-for="IdCredencial" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
