@{
    Layout = "_Layout";
    ViewData["Title"] = "Iniciar sesión como Administrador";
}

<h2>Iniciar sesión como Administrador</h2>

<!-- Mostrar mensajes de error -->
@if (ViewBag.Message != null)
{
    <div class="alert alert-danger">
        @ViewBag.Message
    </div>
}

<form method="post" action="/Admin/Login">
    <div class="form-group">
        <label for="NombreUsuario">Nombre de Usuario:</label>
        <input type="text" name="NombreUsuario" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="Contrasena">Contraseña:</label>
        <input type="password" name="Contrasena" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Iniciar sesión</button>
</form>
